PORT=3000
MONGO_URI=mongodb+srv://username:your_pass@cluster0.nxfhjkm.mongodb.net/AuthApp?retryWrites=true&w=majority
JWT_SECRET=lkdnlkvdnkvndfdkf
JWT_REFRESH_SECRET=dknvoknvopvnpovvwvvrbjkjh
REDIS_URL=rediss://default:your_id@cosmic-jaybird-49244.upstash.io:6379
CLOUD_NAME=cloud name
CLOUD_API_KEY= key
CLOUD_API_SECRET=secret
CLIENT_URL=http://localhost:5173